body{

  background-image:url(../img/fond2.jpg) ;
  //background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width:auto;
  height: auto;
}
