body{

  background-image:url(../img/fond22.jpg) ;
  image-opacity:0.2;
  //background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width:auto;
  height: auto;
}
